body {
  background-image: linear-gradient(90deg, rgb(186, 116, 7), rgb(186, 116, 7) 10.5%, rgba(186, 116, 7, 0.5) 11%, rgba(186, 116, 7, 0.5) 89%, rgb(186, 116, 7) 89.5% );
  font-family: Helvetica;
  color: white;
  font-size:x-large;
  line-height: 130%;
}

a {
  border-bottom-style: solid;
  border-color: #660066;
  color: #9B0000;
  font-style: italic;
}

.post {
  color:black;
  font-size: large;
  width: 60%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  background: rgba(255,255,255,0.6);
  border:none;
  border-radius:10px;}
}

strong {
  color: #660066; 
}

#center {
  text-align: center;
}

#hidden {
  visibility: hidden;
}

#hide {
  display: none;
}

p.small {
  font-size: small;
}

p.medium {
  font-size: medium;
}
 
p.large {
  font-size: large;
}
 
p.xlarge {
  font-size: x-large;
}
 
p.xxlarge {
  font-size: xx-large;
}
 
.gyllgii {
  width: 10%;
  align:left;
}

p.date {
  font-size: small;
  color: #9B0000;
  text-align:right;
}
